
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    Admin Area
    <p> @Html.ActionLink("Управление категориями", "Index", "Categories") </p>
    <p> @Html.ActionLink("Управление продукцией", "Index", "Products") </p>
    <p>Управление акциями</p>
    <p>Управление заказами</p>
    <p>Управление пользователями</p>
    <p>Просмотр статистики</p>
</body>
</html>
