
<p class="h3">Куда нам отправить заказ?</p> 
<form asp-action="Complete" asp-controller="Order" method="POST" asp-anti-forgery="true">
    <div class="form-group">
        <label class="control-label">Город</label>
        <input name="City" class="form-control" placeholder="Ростов-на-Дону" type="text" />
        <span class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="control-label">Улица</label>
        <input name="Street" class="form-control" placeholder="Улица дом, подъезд этаж квартира" type="text" />
        <span class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="control-label">Телефон</label>
        <input name="Phone" class="form-control" placeholder="в любом формате" type="text" />
        <span class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="control-label">Email</label>
        <input name="Mail" class="form-control" placeholder="Мы не будем вам спамить =)" type="email" />
        <span class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="control-label">Дополнительная информация</label>
        <input name="Desc" class="form-control" placeholder="вы можете указать дополнительную информацию, должна ли быть у курьера сдача, или к какому времени нужен заказ" type="text" />
        <span class="text-danger"></span>
    </div>

    <input type="submit" value="Отправить" class="btn btn-danger" />
</form>