@model Order

@if (Model.Items != null && Model.Items.Count > 0)
{
    <p class="h3">Куда нам отправить заказ?</p>

    <form asp-action="CompleteOrder" asp-controller="Order" method="POST" asp-anti-forgery="true">
        @Html.AntiForgeryToken()

        <div class="form-group">
            <label class="control-label">Город</label>
            <input name="Address.City" asp-for="Address.City" class="form-control" placeholder="Ростов-на-Дону" type="text" />
            <span class="text-danger" asp-validation-for="Address.City"></span>
        </div>
        <div class="form-group">
            <label class="control-label">Улица</label>
            <input name="Address.Street" asp-for="Address.Street" class="form-control" placeholder="Улица дом, подъезд этаж квартира" type="text" />
            <span class="text-danger" asp-validation-for="Address.Street"></span>
        </div>
        <div class="form-group">
            <label class="control-label">Телефон</label>
            <input name="Address.Phone" asp-for="Address.Phone" class="form-control" placeholder="в любом формате" type="text" />
            <span class="text-danger" asp-validation-for="Address.Phone"></span>
        </div>
        <div class="form-group">
            <label class="control-label">Email</label>
            <input name="Address.Email" asp-for="Address.Email" class="form-control" placeholder="Мы не будем вам спамить =)" type="email" />
            <span class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">Дополнительная информация</label>
            <input name="Description" asp-for="Description" class="form-control" placeholder="вы можете указать дополнительную информацию, должна ли быть у курьера сдача, или к какому времени нужен заказ" type="text" />
            <span class="text-danger"></span>
        </div>

        @for (int i = 0; i < Model.Items.Count; i++)
        {
            @Html.HiddenFor(x => x.Items[i].Count)
            @Html.HiddenFor(x => x.Items[i].Product.Id)
        }
        <div class="form-group">

            <label class="control-label">Область Доставки</label>
            <br />
            <select asp-for="Address.DeliveryAreaId" asp-items="@ViewBag.DeliveryAreas">--выберите область--</select>
        </div>
        <input type="submit" value="Отправить" class="btn btn-danger" />
    </form>
}
else
{
    <p class="h3">Вы ничего не заказали, куда вы хотите отправить ничего??</p>

}