@using MiniMarket.Models;
@model System.Collections.Generic.IEnumerable<Product>;
@{
    ViewData["Title"] = "ProductList";
}
<div class="container text-center stock-content">
    @await Component.InvokeAsync("StockComponent")
    <hr />
</div>
<div class="container">
    <div class="card-group">
        @foreach (var item in Model)
        {
            Html.RenderPartial("ProductItem", item);
        }
    </div>
</div>

