@using MiniMarket.Models;
@model System.Collections.Generic.List<Category>

<div class="container-fluid menu">
    @foreach (var item in Model)
    {
        if (item.isVisible)
        {
            <div class="col-md-1 menu__item">
                <div class="menu__item-image">@item.Image.ToString()</div>
                <div class="menu__item-name">@item.Name</div>
            </div>
        }
    }
</div>
