@using MiniMarket.Models;
@model System.Collections.Generic.List<Category>
    @foreach (var item in Model)
    {
        if (item.isVisible)
        {
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("ProductList","Product", new {category=item.Id })"> @item.Name</a>
            </li>
        }
    }