body{
    padding:0px;
    margin:0px;
}

.product__item {
    display:flex;
    padding:5px;
}
.product__item-image {
    height: 220px;
}
.product__item-description{
    min-height:100px;
    max-height:100px;
}