<li class="nav-item" style="margin-left:10px;">

    @if (ViewBag.Order != null && ViewBag.Order.Items.Count>0)
    {
        <a class="navbar-brand" href="@Url.Action("Index","Order")">
            <img src="~/images/card_fully.png" width="32" height="32" alt="" />
        </a>
       @:Сумма: @ViewBag.OrderSumm р
    }
    else
    {
        <a class="navbar-brand" href="@Url.Action("Index","Order")">
            <img src="~/images/card_empty.png" width="32" height="32" alt="" />
        </a>
    }


</li>